<div class="text-light text-center">
  <h3>Hi {{name}}!</h3>
  <h3>Your Total Holiday Gift Budget Is: $ {{total_budget}} </h3>
</div>

{{#if people.length}}
<div class="d-flex justify-content-around">
{{#each people as |people|}}
 <div class="cardContainer d-flex p-3 justify-content-center">
        <div class="card m-2 align-self-start" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{people.name}}</h5>
              <h6>Budgeted Amount to Spend: $ {{people.budget}}</h6>
              <br>
            {{#each people.gifts as |gift|}}
              <h6 class="card-title">Gift: {{gift.name}}</h6>
                  <ul style="list-style-type: none;">
                      <li>Price: $ {{gift.price}}</li>
                      <li>Found At: {{gift.location}}</li>
                  </ul>
            {{/each}}
               <button type="button" id="deleteButton" class="deletes mt-2 mb-2 p-3 btn btn-light btn-outline-dark btn-sm rounded-pill" data-id={{people.id}}>Delete Person</button>
                <button type="button" id="addGiftButton" style="width: 75px" class="adds mt-2 mb-2 p-3 btn btn-light btn-outline-dark btn-sm rounded-pill" data-id={{people.id}}>Add Gift</button>
            </div>
        </div>
</div>
{{/each}}
</div>
{{/if}}
<div class="d-flex justify-content-center">
  <button type="button" id="addButton" style="width: 75px" class="mt-2 mb-2 p-3 btn btn-light btn-outline-dark btn-sm rounded-pill">Add A Person</button>
  <button type="button" id="exportButton" style="width: 75px" class="mt-2 mb-2 p-3 btn btn-light btn-outline-dark btn-sm rounded-pill">Export CSV</button>
</div>


<script src="./js/all.js"></script>
